
.navbar {
    display: flex;
    align-items: center;
    padding: var(--spacing-300) var(--spacing-600);
    border-bottom: 1px solid var(--gray-800);
}

.navbar .navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-200);
    user-select: none;
}

.navbar-logo:hover {
    cursor: pointer;
}

.navbar .navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-800);
    margin-left: auto;
}