.input, .select {
  background-color: var(--gray-700);
  border: 1px solid var(--gray-500);
  width: 100%;
  padding: 0.5rem;
  /* font-size: 1rem;
  line-height: 1.5rem; */
  color: var(--gray-200);
  border-radius: 0.5rem;
  outline: none;

  &::placeholder {
    color: var(--gray-500);
  }

  &[data-disabled] {
    color: var(--gray-500);
    &::placeholder {
      color: var(--gray-500);
    }
  }

  &:focus {
    border-color: var(--primary-color);
  }

  /* https://css-tricks.com/snippets/css/form-validation-styling-on-input-focus/ */
  &:not(:focus):not(:placeholder-shown):invalid {
    border-color: var(--destructive-color);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input-label, .select-label {
  user-select: none;
  color: var(--gray-200);
}

.input-field, .select-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
