.landing-page-container {
    height: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    gap: var(--spacing-400);
}

.landing-page-title {
    font-weight: var(--font-weight-bold);
}

.landing-page-secondary-title {
    color: var(--gray-500);
}