.home-container {
    padding: 4rem 10rem;
}

.home-page-title {
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-400);
}

.no-game-text, .game-detail-info-text {
  margin-bottom: var(--spacing-400);
}

.game-detail-item {
    margin-bottom: var(--spacing-900);
}

.game-detail-title {
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.375rem;
}