.loading-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}