*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

a {
  color: var(--default-text-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
body {
  font-family: var(--font-family);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--default-text-color);
}

#root {
  height: 100vh;
  isolation: isolate;
}
